<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>champ bootstrap | @Model.Page.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@ResolveUrl("static/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@ResolveUrl("static/css/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@ResolveUrl("static/css/starter-template.css")" rel="stylesheet" />
    <link href="@ResolveUrl("static/css/font-awesome.min.css")" rel="stylesheet" />
  </head>
    
  <body>

      <!-- Nav Bar -->
      @Include("navbar")


    <div class="container">
      <div class="starter-template">
        <h2>@Model.Page.Title</h2>
        @RenderBody()
      </div>
    </div><!-- /.container -->

      @Include("footer")
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@ResolveUrl("static/scripts/jquery-2.1.1.min.js")"></script>
    <script src="@ResolveUrl("static/scripts/bootstrap.min.js")"></script>
    <script src="@ResolveUrl("static/scripts/champ-bootstrap.js")"></script>
  </body>
</html>